body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(75, 68, 60);
  background: url('https://i.pinimg.com/originals/89/ba/b9/89bab90764fe743ee0f18cd5f158435c.jpg');
  background-size:cover;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  color: white;
  text-align: center;
}

.form-container {
  padding: 3vmin;
  border-radius: 1vmin;
}

form {
  display:grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
}

label {
  display: flex;
  align-items: center;
}

input {
  background:rgba(255, 255, 255, 0.797);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0
}

table {
  margin: 0 auto;
  background:rgba(43, 30, 30, 0.413);
  border-radius: 15px;
  padding:5px;
  margin:20px;
}

tr {
  border: 1px solid black;
}

td {
  text-align:left;
  padding:5px;
  background:rgba(0, 0, 0, 0.31);
}

.max-width {
  background:rgba(240, 128, 128, 0.125);
  width:auto;
  margin: auto;
  max-width: 500px;
}
